body {
    min-height: 90vh;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    position:relative;
    background:black;
    user-select:none;
}
.game-header {
    min-width: 330px;
    height: 50px;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    padding: 0px 10px;
    box-sizing: border-box;
    align-items: center;
    background: grey;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.buttons {
    width: 250px;
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-end;
    align-items: center;
}
.game-button::before { /* further buttons decoration is proudly stolen */
    border-radius: 3px;
    box-shadow: #959595 0 2px 5px;
    content: "";
    display: block;
    height: 100%;
    left: 0;
    padding: 2px 0 0;
    position: absolute;
    top: 0;
    width: 100%; }

.game-button:active::before { padding: 1px 0 0; }

.game-button {
    background: #eee;
    background: linear-gradient(#eee, #e2e2e2);
    border: solid 1px #d0d0d0;
    border-bottom: solid 3px #b2b1b1;
    border-radius: 3px;
    box-shadow: inset 0 0 0 1px #f5f5f5;
    color: #555;
    display: block;
    font: bold 12px Arial, Helvetica, Clean, sans-serif;
    padding: 10px 20px;
    position: relative;
    text-align: center;
    text-decoration: none;
    text-shadow: 0 1px 0 #fafafa; }

.game-button:hover {
    background: #e4e4e4;
    background: linear-gradient(#e4e4e4, #ededed);
    border: solid 1px #c2c2c2;
    border-bottom: solid 3px #b2b1b1;
    box-shadow: inset 0 0 0 1px #efefef; }

.game-button:active {
    background: #dfdfdf;
    background: linear-gradient(#dfdfdf, #e3e3e3);
    border: solid 1px #959595;
    box-shadow: inset 0 10px 15px 0 #c4c4c4;
    top:2px;}

.info {
    height: 40px;
    width: 65px;
    margin-right: 5px;
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-end;
    align-items:center;
    text-align:center;
    line-height:38px;
    font: bold 20px Arial, Helvetica, Clean, sans-serif

}

.flags {
    height: 90%;
    width: 25px;
    padding-top: 8px;
    box-sizing: border-box;
    background: green;
    border-bottom-left-radius: 5px;
    border-top-left-radius: 5px;
    color: #d8f2ce;
}

.mines {
    height: 90%;
    width: 25px;
    padding-top: 8px;
    box-sizing: border-box;
    background: red;
    border-bottom-right-radius: 5px;
    border-top-right-radius: 5px;
    color: #f2ced2;
}

.playing-field {
    background: Gainsboro;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    z-index: -1;
}

tr, td {
    height: 25px;
    width: 25px;
    box-sizing: border-box;
    border: 1px solid grey;
    border-radius: 3px;
    position:relative;
    background: white;
    text-align:center;
    line-height:100%;
    font-weight:bold;
}

.activated {
    background:#bcbcbc;
}

.flagged {
    color: black;
    background: orange;
}

table {
    padding: 20px;
    position: relative;
}

.winner-message {
    width: 250px;
    height: 60px;
    position: absolute;
    top:50%;
    left:50%;
    transform: translate(-50%, -50%);
    padding-top: 8px;
    box-sizing: border-box;
    text-align: center;
    color: white;
    font: bold 40px Arial, Helvetica, Clean, sans-serif;
    background: green;
}


